body {
    background-color: #f4f4f9;

    body {
        background-color: #f4f4f9;
        color: #333;
        font-family: 'Helvetica Neue', Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 50px;
    }

    a {
        color: #0073e6;
        text-decoration: none;
        font-size: 20px;
    }

    a:hover {
        text-decoration: underline;
        color: #005bb5;
    }

    h1 {
        font-size: 48px;
        font-weight: 300;
        margin-bottom: 20px;
    }

    h2 {
        font-size: 32px;
        font-weight: 300;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    footer {
        margin-top: 50px;
        font-size: 14px;
        color: #777;
    }
}